.productHeading {
  margin: 2vmax auto;
  width: 15vw;
  border-bottom: 1px solid rgba(0, 0, 0, 0.171);
  padding: 2vmax;
  color: rgba(0, 0, 0, 0.678);
  font: 500 1.5vmax "Roboto";
  text-align: center;
}
.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 5vmax;
  min-height: 30vmax;
}

.paginationBox {
  display: flex;
  justify-content: center;
  margin: 6vmax;
}
.pagination {
  display: flex;
  justify-content: center;
  padding: 0;
}
.page-item {
  list-style: none;
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.178);
  padding: 1vmax 5vmax;
  cursor: pointer;
  transition: all 0.6s;
}
.page-item:first-child {
  border-radius: 5px 0 0 5px;
}

.page-item:last-child {
  border-radius: 0 5px 5px 0;
}
.page-link {
  text-decoration: none;
  font: 300 0.9vmax "Roboto";
  color: rgb(80, 80, 80);
  transition: all 0.4s;
}
.page-item:hover {
  background-color: rgba(0, 0, 0, 0.165);
}

.page-item:hover .page-link {
  color: rgb(80, 80, 80);
}
.pageItemActive {
  background-color: tomato;
}
.pageLinkActive {
  color: #fff;
}

.filterBox {
  width: 10vmax;
  position: absolute;
  top: 10vmax;
  left: 4vmax;
}

.categoryBox {
  display: flex;
  flex-wrap: wrap;
  padding: 0%;
}

.category-li {
  cursor: pointer;
  padding: 5px 10px;
  margin: 5px;
  background-color: #f0f0f0;
  border-radius: 5px;
  transition: all 0.5s;
}

.category-li:hover {
  background-color: #e0e0e0;
}
.filterBox > fieldset {
  border: 1px solid rgba(0, 0, 0, 0.329);
}

@media screen and (max-width: 600px) {
  .filterBox {
    width: 20vmax;
    position: static;
    margin: auto;
    text-align: center;
  }
  .page-link {
    font: 300 1.7vmax "Roboto";
  }
}
